.outer-paper {
  margin-top: 5%;
  padding: 2%;
  width: 60%;
  background-color: #c4c7c8;
}

.game-header {
  display: flex;
}

.game-winner{
  width: 40%;
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 30%;
}

.current-player{
  width: 10%;
  display: inline-block;
  position: absolute;
  right: 5%;
  text-align: center;
  margin: 2%;
  color: #ebebeb;
}

.other-player {
  width: 10%;
  display: inline-block;
  position: absolute;
  left: 5%;
  text-align: center;
  margin: 2%;
  color: #ebebeb;
}

.current-turn {
  display: inline-block;
  position: absolute;
  top: 18%;
  left: 45%;
  text-align: center;
  margin: 2%;
  color: #ebebeb;
}

.board {
  display: flex;
  justify-content: center;
}

.whole-board{
  background-color: #86eba634;
  background-image: url('../icons/path.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-blend-mode: luminosity;
  padding: 15% 0;
}

.finished{
  background-color: #86eba634;
  background-image: url('../icons/path.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-blend-mode: luminosity;
  padding: 15% 0;
  opacity: 0.5;
}

body{
  background-color: #95AB97
  
  
  
}

.current-turn{
position: absolute;
margin-left: 47%;
margin-right: 47%;
left: 0;
right: 0;
}